
:root{
    
    --head-side-background: rgb(85, 95, 105);
    --title-text-color: rgb(68, 66, 66);
    --highlight-background: rgb(172, 223, 240);
}

/*** Resets ***/

html{
    scroll-behavior: smooth;
}

body{

    background-color: dimgray;
    margin:0;
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif ;

}

header{
    margin-left: 160px;
    background-color: var(--head-side-background);

}

h2{
    font-size: 40px;
    background-color: var(--highlight-background);
    color:var(--title-text-color);

    padding: 0% 0% 0% 10%;
    margin: 1% 1% 1% 0%;
}

nav{
    display: block;
    position: relative;
   

}

nav a{

    padding:14px 20px;
    text-align: center;
    text-decoration: underline;
    text-decoration-thickness: 3px;
    color:lightblue;
    transition: all .3s; 
    display: block;
}


nav a:hover{
    color:rgb(255, 255, 255);    
}


div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}



 
main{
    display: flex;
    flex-direction: column;
    /* margin-left: 160px; */
    align-items: center;
}


footer{
    display: flex;
    flex-direction: column;
    /* margin-left: 160px; */
    align-items: center;

}

/* Global Classes */
.sidebar-left {

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 100%;
    width: 160px;

    top: 0;
    left: 0;
    background-color: rgb(85, 95, 105);
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
}

.top-image{
    display: flex;
    justify-content: start;
    flex-direction: column;

}
.top-image img{
    border-radius: 50%;

}

.content-sections{
    display: flex;
    justify-content: center;

    margin:20px;
    width: 50em;
    
}


.content-head h3{
    /* border-style: solid; */
    height: 100%;
    align-items: center;
    justify-content: center;
    width: 90px;



}

.content-head{
    border-right: solid;
    margin-right: 20px;

    
}

.content-head h3{
    position: relative;
    top: 50%;
} 











.work-images{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;


}


.image-one{
    display: flex;
    background-image: url("https://picsum.photos/200/300");
    opacity: .45;
    background-size: cover;
    border-style: solid;
    justify-content: end;
    margin: 10px;
    width: 10em;
    height: 20em;
    flex-basis: 100%;
}

.image-one:hover{
    opacity: 1;
    transition: all 1s;
}

.image-one h4{
    background-color: var(--highlight-background);
    border-style: solid;
    border-color: teal;
    width: 15%;
    height: 15%;
    text-align: center;
    vertical-align: middle;

    text-decoration: underline;
    margin-right: 10px;



    /* position: relative;
    left: 80%;
    top:20%;  */
}


.image-one a{
    background-color: var(--highlight-background);
    border-style: solid;
    border-color: teal;
    width: 15%;
    height: 15%;
    text-align: center;
    vertical-align: middle;

    text-decoration: underline;
    margin-right: 10px;



    /* position: relative;
    left: 80%;
    top:20%;  */
}

.image-two{
    display: flex;
    background-image: url("https://picsum.photos/id/237/200/300");
    opacity: .3;
    border-style: solid;
    justify-content: end;


    margin: 10px;
    width: 10em;
    height: 20em;
    

}

.image-two:hover{
    opacity: 1;
    transition: all 1s;
}

.image-two h4{
    
    background-color: var(--highlight-background);
    
    /* position: relative;
    left: 35%;
    top:20%; */
    border-style: solid;
    border-color: teal;
}

.image-three{
    display: flex;

    background-image: url("https://picsum.photos/seed/picsum/200/300");
    opacity: .3;
    border-style: solid;
    justify-content: end;

    margin: 10px;
    width: 10em;
    height: 20em;

}

.image-three:hover{
    opacity: 1;
    transition: all 1s;
}


.image-three h4{
    background-color: var(--highlight-background);
    /* position: relative;
    left: 35%;
    top:20%; */
    border-style: solid;
    border-color: teal;
}

.image-four{
    display: flex;

    background-image: url("https://picsum.photos/id/237/200/300");
    opacity: .3;
    border-style: solid;
    justify-content: end;

    margin: 10px;
    width: 10em;
    height: 20em;

}

.image-four:hover{
    opacity: 1;
    transition: all 1s;
}

.image-four h4{
    background-color: var(--highlight-background);
    /* position: relative;
    left: 35%;
    top: 20%; */
    border-style: solid;
    border-color: teal;
}

.footer-body{
    margin:20px;
    width: 50em;
    

}
.footer-body p{
    text-decoration: underline;
    
}

/*** Media ***/

